name: Upload Model to HuggingFace

on:
  push:
    branches: [ master ]
    paths:
      - '*.safetensors'
      - 'src/utils.py'


jobs:
  upload:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Install huggingface_hub
        run: pip install huggingface_hub
      
      - name: Upload to HuggingFace
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python << EOF
          from huggingface_hub import HfApi
          import glob
          
          api = HfApi(token="$HF_TOKEN")
          repo_id = "smasadzadeh/degradation-transformer"
          # Upload all safetensors files
          for file in glob.glob("*.safetensors"):
              api.upload_file(
                  path_or_fileobj=file,
                  path_in_repo=file,
                  repo_id=repo_id
              )
          
          # Upload utils.py
          api.upload_file(
              path_or_fileobj="src/utils.py",
              path_in_repo="utils.py",
              repo_id=repo_id
          )
            # Upload all config files
          for file in glob.glob("*config.json"):
              api.upload_file(
                  path_or_fileobj=file,
                  path_in_repo=file,
                  repo_id=repo_id
              )
          EOF

      