name: Upload Model to HuggingFace

on:
  push:
    branches: [ master ]


jobs:
  upload:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Install huggingface_hub
        run: pip install huggingface_hub
      
      - name: Upload to HuggingFace
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          python -m huggingface-cli login --token $HF_TOKEN
          python -m huggingface-cli upload smasadzadeh/degradation-transformer *.safetensors
          python -m huggingface-cli upload smasadzadeh/degradation-transformer src/utils.py